/* 커스텀 폰트 설정 */
@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 컨테이너 스타일 설정 */
.container {
  display: flex;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

/* 캡차 박스 스타일 설정 */
.captchaBox {
  white-space: pre-line;
  display: flex;
  overflow: hidden;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 65%;
  background-color: #ffffff;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
  margin: 3% auto;
  font-family: "GangwonEduPowerExtraBoldA", sans-serif;
  /* 커스텀 폰트 적용 */
}

/* 캡차 타이틀 스타일 설정 */
.captchaTitle {
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 2rem;
  width: 95%;
  padding: 1%;
  background-color: #4990e2;
  border: 2px solid #c0c0c0;
}

.captchaTitleContent {
  margin-top: 0.5rem;
  font-size: 2rem;
  padding: 5%;
  color: #ffffff;
}

.captchaTitleContent1 {
  font-size: 1.5rem;
  color: #ffffff;
}

.captchaTitleContent2 {
  margin-top: 0.5rem;
  font-size: 3rem;
  color: #ffffff;
}

.captchaTitleContent3 {
  font-size: 1.6rem;
  color: #ffffff;
}

/* 캡차 내용 스타일 설정 */
.captchaContent {
  text-align: center;
  align-items: center;
  font-size: 1.8rem;
  margin-right: 1.8rem;
  justify-content: center;
  margin-top: 0.5rem;
}


/* 버튼 스타일 설정 */
.btn-hover {
  margin: 0%;
  text-align: center;
  width: 200px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  margin-bottom: 1rem;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

/* 버튼 호버 스타일 설정 */
.btn-hover:hover {
  background-position: 100% 0;
  font-size: 2rem;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

.btn-hover:focus {
  outline: none;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

/* 버튼 색상 설정 */
.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #5125e1,
    #408de4,
    #309bdd,
    #2bafb6
  );
  box-shadow: 0 4px 15px 0 rgba(49, 123, 196, 0.75);
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

.captchascore{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  padding-right: 1.5rem;
}

/* 버튼 스타일 설정 */
.btn-hover2 {
  margin: 0%;
  text-align: center;
  width: 15rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  margin-bottom: 1rem;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

/* 버튼 호버 스타일 설정 */
.btn-hover2:hover {
  background-position: 100% 0;
  font-size: 2rem;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

.btn-hover2:focus {
  outline: none;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

/* 버튼 색상 설정 */
.btn-hover2.color-1 {
  background-image: linear-gradient(
    to right,
    #1f1f1f,
    #303030,
    #6c6c6c,
    #a7a7a7
  );
  box-shadow: 0 4px 15px 0 rgba(253, 253, 253, 0.75);
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}