/* styles/Result.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.result-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.result-text {
  font-size: 1.2rem;
}
